#registro h2{
    text-align: center;
    margin-bottom: 25px;

}
#registro h3, h4, h5{
    text-align: center;

}

#registro .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-bottom:15px ;
}

#registro a {

    color: rgb(10, 10, 10);
    text-align: center;
    margin-bottom: 25px;
    border: 3px solid #fff;
}